#intro_page_title {
  color: #8C1D40;
}

#back_button {
  position: fixed;
  top: 5;
  left: 5;
  height: 50px;
  width: auto;
  font-family: sans-serif;
  font-size: 40px;
  background-color: transparent;
  cursor: pointer;
}
